@charset "utf-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.hide {
    display: none;
}



.inner {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.inner .section-title {
    width: 100%;
    padding: 40px 0 ;
}
.inner .section-title h2 {
    font-size: 30px;
    position: relative;
}
.inner .section-title h2:after {
    content: '';
    position: absolute;
    height: 2px;
    right: 0;
    top: 18px;
    background-color: #8a7d78;
}
#profile .inner .section-title h2:after { width: 90%; }
#skills .inner .section-title h2:after { width: 83%; }
#project .inner .section-title h2:after { width: 77%; }
#profile .inner h3 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
}





/* header */
header {
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 20;
    box-shadow: 1px 1px 10px #e0ded1;
    background-color: #F5F3ED;
}
header div {
    display: flex;
    justify-content:space-between;
}
header div ul {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}





/* section ------------------------------------*/
section {
    width: 100%;
    background-color: #F5F3ED;
}




/* section --- profile*/
section#profile {
    height: 350px;
    padding-top: 60px;
}
#profile .content {
    height: 400px;
    display: flex;
}
#profile .content .item {
    width: 20%;
    padding: 0 10px;
    box-sizing: border-box;
}
#profile .content .item.intro {
    width: 50%;
}
#profile .content .item.career {
    width: 30%;
}




/* section --- skills*/
section#skills {
    height: 350px;
    background-color: #e9e6e1;
}
#skills .content {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
#skills .content .item {
    width: 25%;
}
#skills .content .item h3 {
    font-size: 28px;
    padding-bottom: 20px;
}
#skills .content .item ul {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
#skills .content .item ul li {
    padding: 5px 0;
    list-style :inside
}



/* section ------------------------------- project */

section#project .inner .content-wrap{
    display: grid;
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: repeat(4, 300px);
    grid-auto-flow: column;
}
#project .content-wrap .content {
    grid-column-end: span 2;
    position: relative;
    cursor: pointer;
}
#project .content-wrap .content .cover {
    position: absolute;
    z-index: 10;
    width: 300px;
    height: 300px;
    color: #ffffff85;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    box-sizing: border-box;
    box-shadow: rgb(211 211 211 / 25%) 2px 2px 14px;
    transition: 0.3s;
}
#project .content-wrap .content:hover .cover p ,
#project .content-wrap .content:hover .cover span {
    transition: 0.3s;
    color: #fff;
    font-weight: bold;
}
#project .content-wrap .content .cd {
    position: absolute;
    z-index: 5;
    width: 300px;
    height: 300px;
    top: 0;
    right: 30%;
    border-radius: 50%;
    background: #fff;
    transition : all 5s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
    box-shadow: 0px 0px 13px #ccc;

}
#project .content-wrap .content .cd .hole {
    position: absolute;
    z-index: 30;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ebeae9;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#project .content-wrap .content .cd .hole .hole2 {
    display: block;
    width: 68px;
    height: 68px;
    margin: 6px;
    border-radius: 50%;
    background-color: #e1dfda;
}

#project .content-wrap .content .cd .cdCont {
    width: 280px;
    height: 280px;
    margin: 10px;
    border-radius: 50%;
    overflow: hidden;
    background-color: red;
    display: flex;
    align-items: center;
}
#project .content-wrap .content .cd .cdCont img {
    /* width: 300px; */
    height: 300px;
    object-fit: cover;
}

#project .content-wrap .content:nth-child(3n-1){
    margin-left: 50%;
}
#project .content-wrap .content:nth-child(3n-1) .cd{
    left: -50% ;
}
#project .content-wrap .content:nth-child(3n-1) .cd .cdCont img {
    margin-left: -50%;

}
#project .content-wrap .content:nth-child(1) .cover {background-color: #ca8f73;}
#project .content-wrap .content:nth-child(2) .cover {background-color: #E7DFD4;}
#project .content-wrap .content:nth-child(3) .cover {background-color: #184B44;}
#project .content-wrap .content:nth-child(4) .cover {background-color: #BEC6BB;}
#project .content-wrap .content:nth-child(5) .cover {background-color: #C09A85;}
#project .content-wrap .content:nth-child(6) .cover {background-color: #5F5E66;}

#project .content-wrap .content .cover .skill{
    float: right;
    margin-top: 10px;
    font-size: 12px;
    font-weight: light;
}
#project .content-wrap .content .cover .title p {
    font-size: 40px;
    font-weight: lighter;
}
#project .content-wrap .content .cover .date{
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 10px;
}
#project .content-wrap .content:hover .cd{
    transform : translateX(60%) rotate(1000deg);
}
#project .content-wrap .content:nth-child(3n-1):hover .cd{
    transform : translateX(-60%) rotate(1000deg);
}

@keyframes rightT {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(3600deg);}
}








/* modal ---------------------------------------  */
#modal {
    position: absolute;
    z-index: 100;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: #0d080687;

}

#modal .content {
    position: absolute;
    top: 50% ;
    left : 50% ;
    transform: translate(-50% , -50%);
    width: 1100px;
    height: 90%;
    background-color: #e9e6e1;
    overflow: auto;
    border-radius: 5px;

}

#modal #closeModal {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 7%;
    right: calc( (100% - 1100px)/ 2 - 50px );
    font-size: 26px;
    background-color: #184B44;
    color: #fff;
    border-radius: 0 5px 5px 0;
}

#modal .content > div {
    width: 100% ;
    height: 100% ;
    padding: 0 150px;
    box-sizing: border-box;
    font-size: 18px;
    display: none;
}
#modal .content > div > * {
    width: 100%;
    margin: 30px auto;
}
#modal .content > div .top {
    display: flex;
    justify-content: space-between;
}
#modal .content > div .top h3 {
    font-size: 36px;
}
#modal .content > div .top button {
    height: 45px;
    padding: 2px 30px;
    margin-right: 10px;
    background-color: #1c3952f6;
    color: #fff;
    border-radius: 50px;
    border: none;
    transition: 1s;
}
#modal .content > div .top button.goGithub {
    margin-right: 0;
    background-color: darkgray;
}
#modal .content > div .top button.active {
    background-color: #ffffff84;
    color: #1c3952;
    transition: 1s;
}
#modal .content > div .skill {
    height: 50px;
}
#modal .content > div .skill span {
    border: 2px solid rgba(162, 130, 49, 0.524);
    border-radius: 20px;
    padding: 5px 10px;
    color: #555;
}

#modal .content > div .siteInfo strong,
#modal .content > div .overView strong {
    display: block;
    margin-bottom: 20px;
    width: 100% ;
    font-size: 34px ;
    color: #555 ;
}
#modal .content > div .siteInfo {
    padding-bottom: 100px;
}
#modal .content > div .siteInfo ul li  {
    margin-bottom: 10px;
}
#modal .content > div .siteInfo ul li span {
    display: block;
    width: 100px;
    float: left;
    color:  #5f3606;
}
#modal .content > div .siteImg img {
    width: 100% ;
}
